{% extends 'base.html' %}
{%block title %} Menu-Swastik {% endblock %} 
{% load static %}
{% block content %}
 <center><h1>Menu </h1><br/></center>

 
 
 <br/>
 <br/> <br/>
 <br/>
 
 <div class="row pt-3">
  <div class="col -5">

      <a href="{% url 'veg' %}"><h3 style="color:#32CD32;"  text-align: left;><li>Vegetarian</li></h3></a>

    </div>
    <div class="col-5">
      <center><a href="{% url 'egg' %}"><h3 style="color:#FFA500;"><li>Eggetarian</li></h3></a></center>
      
      
    </div>

    <div class="col 5">

      <a href="{% url 'non_veg' %}"><h3 style="color:#FF0000;" text-align: right;><li>NON-Vegetarian</li></h3></a>

    </div>




 </div>
  

 <br/>
 <br/>






<center><button type="button" class="btn btn-outline-primary"><a href="{% url 'add_particulars' %}"><i class="fa fa-plus"></i> ADD</a></button></center>
 
      
      
{% endblock %}